:root{
    --theme-light: #eacdbd;
    --theme-dark: #443730;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

html body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul li{
    list-style: none;
}

img{
    width: 100%;
    display: block;
}

.d-flex{
    display: flex;
}

.d-none{
    display: none;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-12{
    width: 100%;
    padding: 0 15px;
}

.col-6{
    width: 50%;
    padding: 0 15px;
}

.col-4{
    width: 33.33%;
    padding: 0 15px;
}

.col-3{
    width: 25%;
    padding: 0 15px;
}

/* header section start */
header{
    background-color: var(--theme-light);
}

.navbar .logo img{
    width: 85px;
}

.navbar nav a{
    margin: 0 1.5rem;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s ease;
}

.navbar nav a:hover{
    border: 0;
    border-radius: 5px;
    background-color: var(--theme-dark);
    color: var(--theme-light);
}

.navbar nav .search-icon{
    font-size: 26px;
}

.navbar nav .toggle{
    font-size: 26px;
}
/* header section end */

/* main section start */
main{
    background-color: var(--theme-light);
    padding: 1rem 0;
}

    /* hero section start */
    .hero{
        background-image: url("../images/coffee-background.avif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 80vh;
    }

    .hero .hero-content{
        padding: 10rem 3rem;
    }

    .hero .hero-content h3{
        color: white;
        font-size: 42px;
        font-weight: lighter;
        text-transform: uppercase;
    }

    .hero .hero-content h2{
        color: var(--theme-light);
        font-size: 58px;
        font-weight: 900;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .hero .hero-content a{
        margin-top: 3rem;
        padding: 10px 25px;
        font-weight: 600;
        border-radius: 20px;
        background-color: white;
        color: #000;
        transition: all .3s ease;
    }

    .hero .hero-content a:hover{
        background-color: var(--theme-light);
        color: var(--theme-dark);
    }
    /* hero section end */

    /* categories section start */
    .categories .categories-body{
        margin: 3rem;
        text-align: center;
        color: var(--theme-dark);
    }

    .categories .categories-body h3{
        padding: 1rem 0;
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .categories .categories-body p{
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
    }

    .categories .categories-body .categories-card-1{
        margin: 2rem 0;
        padding: 5.5rem 0;
        background-color: #000000a3;
        background-image: url("../images/cat-1.png");
        background-size: cover;
        background-position: center;
        background-blend-mode: color;
        height: 40vh;
        border-radius: 30px;
    }

    .categories .categories-body .categories-card-1 h4,
    .categories .categories-body .categories-card-2 h4,
    .categories .categories-body .categories-card-3 h4{
        font-size: 22px;
        color: white;
    }

    .categories .categories-body .categories-card-1 a,
    .categories .categories-body .categories-card-2 a,
    .categories .categories-body .categories-card-3 a{
        padding-top: 3rem;
        font-size: 16px;
        letter-spacing: 2px;
        color: white;
    }

    .categories .categories-body .categories-card-2{
        margin: 2rem 0;
        padding: 5.5rem 0;
        background-color: #000000a3;
        background-image: url("../images/cat-2.jpg");
        background-size: cover;
        background-position: center;
        background-blend-mode: color;
        height: 40vh;
        border-radius: 30px;
    }

    .categories .categories-body .categories-card-3{
        margin: 2rem 0;
        padding: 5.5rem 0;
        background-color: #000000a3;
        background-image: url("../images/cat-3.jpg");
        background-size: cover;
        background-position: center;
        background-blend-mode: color;
        height: 40vh;
        border-radius: 30px;
    }
    /* categories section end */

    /* milk-shakes section start */
    .milk-shakes .milk-shakes-body{
        margin: 3rem;
        /* text-align: center; */
        color: var(--theme-dark);
    }

    .milk-shakes .milk-shakes-body h3{
        padding: 1rem 0;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    .milk-shakes .milk-shakes-body p{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
    }

    .milk-shakes .milk-shakes-body .milk-shakes-card{
        margin: 2rem 0;
        padding: 1rem 0;
        /* height: 40vh; */
        border-radius: 30px;
        background-color: #d2b5a5;
    }

    .milk-shakes .milk-shakes-body .milk-shakes-card a{
        margin-left: 1rem;
        background-color: #e6d9d3;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 20px;
    }

    .milk-shakes .milk-shakes-body .milk-shakes-card img{
        width: 200px;
        height: 200px;
        margin: .5rem 0;
        margin-left: 5rem;
    }

    .milk-shakes .milk-shakes-body .milk-shakes-card h4{
        font-size: 22px;
        text-align: center;
    }

    .milk-shakes .milk-shakes-body .milk-shakes-card .milk-shakes-price{
        margin: 1rem 0 1rem 1rem;
    }

    .milk-shakes .milk-shakes-body .milk-shakes-card .milk-shakes-price p{
        display: inline-block;
        font-size: 22px;
        font-weight: 600;
    }

    .milk-shakes .milk-shakes-body .milk-shakes-card .milk-shakes-price a{
        margin-left: 10.5rem;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        background-color: #70605d;
        color: white;
        text-align: right;
    }
    /* milk-shakes section end */

    /* blogs section start */
    .blogs .blogs-body{
        margin: 3rem;
        /* text-align: center; */
        color: var(--theme-dark);
    }

    .blogs .blogs-body h3{
        padding: 1rem 0;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    .blogs .blogs-body p{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
    }

    .blogs .blogs-body .blogs-card{
        margin: 2rem 0;
        padding: 1rem 0;
        /* height: 40vh; */
        border-radius: 30px;
        background-color: #d2b5a5;
    }

    .blogs .blogs-body .blogs-card img{
        width: 90%;
        margin-left: 1.1rem;
        border-radius: 30px;
        text-align: center;
    }

    .blogs .blogs-body .blogs-card h4{
        margin-left: 1.1rem;
        margin-top: 1rem;
        font-size: 22px;
    }

    .blogs .blogs-body .blogs-card .blogs-text{
        margin-left: 1.1rem;
        margin-top: .5rem;
        font-size: 16px;
        text-align: left;
        line-height: 1.5;
    }

    .blogs .blogs-body .blogs-card a{
        margin: 1rem 0 1rem 1.1rem;
        padding: 10px 12px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        border-top: 2px solid white;
        border-radius: 20px;
        background-color: #b69787d5;
        color: var(--theme-dark);

    }
    /* blogs section end */

/* main section end */

/* footer section start */
footer{
    padding: 1rem 0;
    background-color: #1e1e1e;
}

    /* footer-categories section start */
    .footer-categories{
        margin: 1rem 0;
        border-top: 3px solid var(--theme-light);
    }

        /* products section start */
        .products{
            margin: 3rem 0;
            color: #d3d3d3;
        }

        .products h4{
            font-size: 26px;
        }

        .products ul{
            margin: 2rem 0;
        }

        .products ul a{
            padding: 10px 0;
            font-size: 16px;
            color: var(--theme-light);
        }

        .products ul a i{
            font-size: 20px;
        }
        /* products section end */
    /* footer-categories section end */

    /* footer-setting section start */
    .footer-setting{
        margin: 1rem 0;
        background-color: var(--theme-dark);
        color: var(--theme-light);
    }

    .footer-setting ul{
        justify-self: center;
    }

    .footer-setting a{
        padding: 1rem;
        font-size: 16px;
    }
    /* footer-setting section end */

/* footer section end */